*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navigation section */

.header{
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bckground3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* navbar */
nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}


.logo{
  width: 190px;
  cursor: pointer;
}

h3{
  color: #6246ea;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none !important;
}


.logo1{
  margin-top: 32%;
}
.header a{
  text-decoration: none;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  font-weight: 600;
  height: 100%;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after{
  width: 100%;
}

/* Mid-section */

.text-box{
  position: absolute;
  color: white;
  width: 90%;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.text-box h1{
  font-size: 110px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
  color: white;
}
.hero-btn{
  color: white;
  text-decoration: none !important;
  display: inline-block;
  border: 1px solid #fff;
  font-size: 18px;
  padding: 12px 34px;
  position: relative;
  cursor: pointer;
  background: transparent;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  color: #fff;
  transition: 1s;
}

nav .fa{
  display: none;
}


/* ABOUT */
h1{
  text-align: center;
  color: #f44336;
  font-size: 3.8rem;
  letter-spacing: 3px;
}

h2{
  letter-spacing: 3px;
}
p{
  letter-spacing: 1px;
  color: #000;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 22px;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h5, h6{
  color: #f44336;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}


.bout-img{
  float: left;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}


.about-us{
  margin-top: 3%;
}

.about-head{
  color: #f44336;
  margin-top: 2%;
  font-size: 3.8rem;
}

body{
  margin-bottom: 21%;
}

#bout-who{
  margin-bottom: 9%;
}

/* media query */

@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }

  .nav-links{
    position: absolute;
    background: #f44336;
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
  }
  nav .fa{
    font-size: 22px;
    margin: 10px;
    color: white;
    display: block;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}